{% extends "::base.html.twig " %}
{% block title %}Taller Reparacions{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block navigation %}
	<li class="active"><a href="#">Inici</a></li>
		<li><a href="#">Historic</a></li>
		<li><a href="#">login</a></li>
	</li>
{% endblock %}
{% block page_content %}
Aixo es el frontend
{% endblock %}