{% extends "::base.html.twig " %}
{% block title %}Taller Reparacions{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block navigation %}
	<li><a href="{{ path('taller_reparacio_frontend_homepage') }}">Inici</a></li>
	<li><a style="color:red;" href="#">Historic</a></li>
	<li><a href="{{ path('taller_reparacio_backend_homepage') }}">login</a></li>
{% endblock %}
{% block page_content %}
Aixo es el frontend
{% endblock %}