{% extends "TallerReparacioBackendBundle:Default:index.html.twig" %}
{% block title %}Crear Reparació{% endblock %}
{% block page_content %}
	<div class="container">
		<div class="contingut row">
			<div class="col-xs-12">
				<form action="{{ path('taller_reparacio_backend_crear_reparacions') }}" method="post">
					<div class="form-grup">
						<h2>Dades Reparació</h2>
						Codi: <input class="form-control" type="text" name="codi"><br/>
						Descripció: <input class="form-control" type="text" name="descripcio"></br>
						Vehicle (matrícula): <select name="vehicles">
							{% for v in vehicles %}
								<option value="{{ v.matricula }}">{{ v.matricula }}</option>
       						{% endfor %}
						</select><br/><br/>
						<input class="btn btn-default" type="submit" name="submit" value="Crear">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}