{% extends "TallerReparacioBackendBundle:Default:index.html.twig" %}
{% block title %}Crear Reparació{% endblock %}
{% block page_content %}
	<div class="container">
		<div class="contingut row">
			<div class="col-xs-12">
				<form action="{{ path('taller_reparacio_backend_crear_reparacions') }}" method="post">
					<div class="form-grup">
						<h2>Dades Reparació</h2>
						<label>Codi reparació:</label>
						<input class="form-control" type="text" name="codi"><br/>
						<label>Descripció:</label>
						<input class="form-control" type="text" name="descripcio"></br>
						<label>Data entrada:</label>
						<input type="text" class="form-control" name="dataEntrada"><br/>
						<label>Data sordia:</label>
						<input type="text" class="form-control" name="dataSortida"><br/>
						<label>Hores dedicades:</label>
						<input type="number" class="form-control" name="horesDedicades"><br/>
						<label>Vehicle (matrícula):</label>
							<select class="form-control" name="matriculaVehicle">
							{% for v in vehicles %}
								<option value="{{ v.matricula }}">{{ v.matricula }}</option>
       						{% endfor %}
						</select><br/><br/>
						<input class="btn btn-default" type="submit" name="submit" value="Crear">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}