{% extends "::base.html.twig " %}

{% block title %}Hola administrador, benvingut al Backend{% endblock %}
    {% block stylesheets %}
        {{ parent() }} 
    {% endblock %}
        {% block navigation %}
            <li class="active"><a href="#">Inici</a></li>
              <li><a href="#">Vehicles</a></li>
              <li><a href="#">Reparacions</a></li>
              <li><a href="#">Mecànics</a></li>
              <li><a href="#">Equip Mecànics</a></li>
              <li><a href="#">Logout</a></li>
        {% endblock %}

        {% block page_content %}
           <p> Això es el Backend </p>
        {% endblock %}