{% extends "::base.html.twig " %}

{% block title %}Benvingut al Backend{% endblock %}
    {% block stylesheets %}
        {{ parent() }} 
    {% endblock %}
        {% block navigation %}
            <li class="active"><a href="{{ path('taller_reparacio_backend_homepage') }}">Inici</a></li>
              <li><a href="{{ path('taller_reparacio_backend_consultar_clients') }}">Clients</a><li>
              <li><a href="#">Vehicles</a></li>
              <li><a href="#">Reparacions</a></li>
              <li><a href="#">Mecànics</a></li>
              <li><a href="#">Equip Mecànics</a></li>
              <li><a href="#">Logout</a></li>
        {% endblock %}

        {% block page_content %}
           <p> Això es el Backend </p>
        {% endblock %}